h1{
    color: rgb(255, 255, 255);
    border:solid red;
    text-align: center;
    background-image: url(imagenes/logo.jpg);
    background-position: center;
    padding: 5px;

}



.imagen{
height: 200px;
width: 250px;
background-color: red;
background-image: url(imagenes/entrenamiento_funcional.width-640.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
border: solid white;
margin: 5px;
}

.texto{
height: 50px;
width: 450px;





}

.FUNCIONAL{

display: flex;


}

.imagen3{

    height: 200px;
    width: 250px;
    background-color: red;
    background-image: url(imagenes/calistenia.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid white;
    margin: 5px;
}

.imagen2{

    
    height: 200px;
    width: 250px;
    background-color: red;
    background-image: url(imagenes/entrenar-con-barra_1597048825.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid white;
    margin: 5px;
}
    
h2{

    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    width: 180px;


}


.texto{
color: rgb(31, 255, 6);
width: 800px;
height: 200px;




}

.texto2{
    color: rgb(17, 231, 49);
    width: 800px;
    height: 200px;
  

}

.texto3{
    color: rgb(20, 236, 23);
    width: 800px;
    height: 200px;
   
}

body{

    background-image: url(imagenes/toro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    
}

p{

color: rgb(255, 255, 255);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: large;
text-align: center;
background: rgba(5, 7, 12, 0.80);


}


h4{

    color: rgb(255, 255, 255);
    border: solid red;
    width: 50px;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    background-image: url(imagenes/logo\ 2.jpg);


    
}

a{

    color: rgb(255, 255, 255);
    border: solid red;
    width: 150px;
    padding: 10px;
    margin: 15px;
    text-decoration: none;
    background-image: url(imagenes/logo\ 2.jpg);
    



}








